<div class="container" >
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a href="/addCustomer" >Kunde hinzufügen</a>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <article class="panel panel-default" *ngFor="let user of users">
        <div class="panel-body">
          {{ user.email}} {{ user.tenant}}
        </div>
      </article>
    </div>
  </div>
</div>