
<form>
    <div class="form-group">
        <label>Firmenname:</label>
        <input class="form-control" name="Firmenname" placeholder="exampleFirma" #firmenname>
    </div>
    <div class="form-group">
        <label class="mr-sm-2">Anrede</label>
        <input class="form-control" name="Anrede" placeholder="FrauHerr" #anrede>
        <!--
        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" #anrede>
            <option selected>Choose...</option>
            <option value="1">Herr</option>
            <option value="2">Frau</option>
        </select>-->
    </div>

    <div class="form-group">
        <label>Vorname:</label>
        <input class="form-control" name="Vorname" placeholder="Vorname des Ansprechpartners" #vorname>
    </div>
    <div class="form-group">
        <label>Nachname:</label>
        <input class="form-control" name="Nachname" placeholder="Nachname des Ansprechpartner" #nachname>
    </div>
    <div class="form-group">
        <label>Strasse:</label>
        <input class="form-control" name="Strasse" placeholder="exampleroad" #strasse>
    </div>
    <div class="form-group">
        <label>Hausnummer</label>
        <input class="form-control" name="Hausnr" placeholder="12a" #hausnr>
    </div>
    <div class="form-group">
        <label>PLZ:</label>
        <input class="form-control" name="PLZ" placeholder="55435" #plz>
    </div>
    <div class="form-group">
        <label>Stadt:</label>
        <input class="form-control" name="Stadt" placeholder="exampletown" #stadt>
    </div>
    <div class="form-group">
        <label>Land:</label>
        <input class="form-control" name="Land" placeholder="examplecountry" #land>
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input class="form-control" name="Email" placeholder="example@firma.com" #email>
    </div>
    <div class="form-group">
        <label>Passwort:</label>
        <label>{{passwd}}</label>
        <input type="button" value="Zufälliges Passwort" class="btn" (click)="onGeneratePassword()">
    </div>
    <div class="form-group">
        <label>Telefonnummer:</label>
        <input class="form-control" name="Telefonnr" placeholder="07384-6489" #telefonnr>
    </div>
    <div class="form-group">
        <label>Handynummer:</label>
        <input class="form-control" name="Handynr" placeholder="0133-64499726" #handynr>
    </div>
    <div class="form-group">
        <label>Fax:</label>
        <input class="form-control" name="Fax" placeholder="020-393-323-02" #fax>
    </div>
    <div class="form-group">
        <label>Logo:</label>
        <input type="file" ng2FileSelect [uploader]="uploader" />
        <input type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
    </div>

    <div class="col-md-6 col-md-offset-3">
        <select class="form-control show-tick" name="Fotografen" id="exampleSelect1" [(ngModel)]="selectedVal" multiple #fotografen>
            <option *ngFor="let photographer of photographers"  [value]="photographer">{{photographer.nachname}}</option>
        </select>
    </div>


    <div class="form-group">
        <input type="button" [disabled]="!firmenname" value="Speichern" class="btn" (click)="onAddNewCustomer(firmenname.value, anrede.selectedOptions[0], vorname.value, nachname.value, strasse.value, hausnr.value,
        plz.value, stadt.value, land.value, email.value, telefonnr.value, handynr.value, fax.value, selectedVal)">
    </div>

    <!--
    <div class="form-group">
        <label>Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleSelect1">Example select</label>
        <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>

    [(ngModel)]="land"

    -->

</form>
