<div class="container" *ngIf="auth.isAdmin()">
    <div id="popup" class="overlay">
        <div class="popup">
            <div class="content">
                <h3>Warning</h3>
                <p>
                    Die angegebene Kombination aus Name und Rechnung existiert bereits. <br/> Die vorhandene Rechnung wird beim Hochladen überschrieben.
                </p>
                <p>
                    <button class="btn btn-primary" (click)="onUpdateBill(inputSum.value)">Alles klar!</button>
                    <button class="btn" (click)="onPopupClose()">Abbrechen</button>
                </p>
            </div>
        </div>
    </div>
    <form id="bill_form">
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <input type="text" list="customers" placeholder="Kundenname" #inputName>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <input type="date" placeholder="Datum (dd.mm.yyyy)" name="date" #inputDate>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-3">
                <input type="number" placeholder="Rechnungssumme" name="sum" #inputSum>
            </div>
            <div class="col-md-12 col-md-offset-3">
                <input id="fileupload" type="file" (change)="onChange($event)" placeholder="Upload file" accept=".pdf" />
                <label for="fileupload" id="file-label" class="btn">Datei hochladen</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <button id="btn-save-bill" class="btn btn-flat" (click)="onAddBill(inputName.value, inputDate.value, inputSum.value)" type="submit"></button>
            </div>
            <!--<div class="col-md-6 col-md-offset-3">
                <button id="btn-cancel-bill" class="btn btn-flat" (click)="cancelBill()" type="submit"></button>
            </div>-->
        </div>
    </form>
</div>
<div class="container" *ngIf="auth.isAuthenticated()">
    <div class="section">
        <div class="row">
            <div class="col-md-12">
                <h4>Rechnungen</h4>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <ul class="collection" *ngIf='bills.length > 0'>
                <li *ngFor="let bill of bills" class="collection-item hoverable">
                    <p class="bills-rows">{{bill.date.toString().split('T')[0]}}</p>
                    <p class="bills-rows">{{bill.sum}}</p>
                    <p class="bills-rows">{{bill.filepath.split('.')[0].split('_')[1]}}</p>
                    <div class="right-aligned img" *ngIf='bill.paid === true'>
                        <img src="../../../assets/img/haken.png"/>
                    </div>
                    <div class="right-aligned img" *ngIf='bill.paid !== true'>
                        <img src="../../../assets/img/cancel.png"/>
                    </div>
                </li>
            </ul>
            <div class="col-md-12">
                <div *ngIf='bills.length === 0'>
                    <p id="noFiles" class="red-text text-darken-4 text-center">keine Rechnungen gefunden. {{bills}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<datalist id="customers">
    <option *ngFor="let customer of customers"  [value]="customer.firmenname">
        {{customer.firmenname}}
    </option>
</datalist>