.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4)
}

.bills-rows {
    display: inline;
    width: 100%;
    height: 100%;
}

.collection-item {
    background-color: #c3b68a;
}

ul, li {
    width: 100%;
    min-height: 100%;
}

.popup {
    padding: 2%;
    margin: 70px auto;
    background-color: #c3b68a;
    width: 50%;
    position: relative;
    box-shadow: 5px 5px 5px #4d4d4d
}

.popup .content {
    padding: 2%
}

.img {
    background-size: 50px;
}

#btn-save-bill {
    background: url("../../../assets/img/haken.png") no-repeat center #c3b68a;
    background-size: 50px;
    min-height: 50px;
}

#btn-cancel-bill {
    background: url("../../../assets/img/cancel.png") no-repeat center #c3b68a;
    background-size: 50px;
    min-height: 50px;
}

button {
    background-color: #252525;
}

#file-label {
    background-color: #252525;
}

#fileupload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #414141;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #414141;
    opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #414141;
}

button:hover {
    background-color: #414141;
}
