<div class="div" *ngIf="isLoading">
  <p>Loading...</p>
</div>
<form *ngIf="customer && !isLoading">
  <div class="form-group">
    <label>Firmenname:</label>
    <input class="form-control" name="Firmenname" [placeholder]="customer.firmenname" [value]="customer.firmenname" #firmenname>
  </div>
  <div class="form-group">
    <label class="mr-sm-2">Anrede</label>
    <input class="form-control" name="Anrede" [placeholder]="customer.anrede" [value]="customer.anrede" #anrede>
  </div>

  <div class="form-group">
    <label>Vorname:</label>
    <input class="form-control" name="Vorname" [placeholder]="customer.vorname" [value]="customer.vorname" #vorname>
  </div>
  <div class="form-group">
    <label>Nachname:</label>
    <input class="form-control" name="Nachname" [placeholder]="customer.nachname" [value]="customer.nachname" #nachname>
  </div>
  <div class="form-group">
    <label>Strasse:</label>
    <input class="form-control" name="Strasse" [placeholder]="customer.strasse" [value]="customer.strasse" #strasse>
  </div>
  <div class="form-group">
    <label>Hausnummer</label>
    <input class="form-control" name="Hausnr" [placeholder]="customer.hausnr" [value]="customer.hausnr" #hausnr>
  </div>
  <div class="form-group">
    <label>PLZ:</label>
    <input class="form-control" name="PLZ" [placeholder]="customer.plz" [value]="customer.plz" #plz>
  </div>
  <div class="form-group">
    <label>Stadt:</label>
    <input class="form-control" name="Stadt" [placeholder]="customer.stadt" [value]="customer.stadt" #stadt>
  </div>
  <div class="form-group">
    <label>Land:</label>
    <input class="form-control" name="Land" [placeholder]="customer.land" [value]="customer.land" #land>
  </div>
  <div class="form-group">
    <label>Email: {{customer.email}}</label>
  </div>
  <div class="form-group">
    <label>Telefonnummer:</label>
    <input class="form-control" name="Telefonnr" [placeholder]="customer.telefonnr" [value]="customer.telefonnr" #telefonnr>
  </div>
  <div class="form-group">
    <label>Handynummer:</label>
    <input class="form-control" name="Handynr" [placeholder]="customer.handynr" [value]="customer.handynr" #handynr>
  </div>
  <div class="form-group">
    <label>Fax:</label>
    <input class="form-control" name="Fax" [placeholder]="customer.fax" [value]="customer.fax" #fax>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <select class="form-control show-tick" name="Fotografen" id="exampleSelect1" [(ngModel)]="selectedVal" multiple #fotografen>
      <option *ngFor="let photographer of photographers"  [value]="photographer">{{photographer.nachname}}</option>
    </select>
  </div>

  <div class="form-group">
    <input type="button" value="Update" class="btn" (click)="onEditCustomer(firmenname.value, anrede.value, vorname.value, nachname.value, strasse.value, hausnr.value,
        plz.value, stadt.value, land.value, telefonnr.value, handynr.value, fax.value, selectedVal)">
  </div>
</form>
