.app {
    width: 100%;
    height: 100%;
}

.app-sidenav {
  padding: 10px;
  min-width: 15%;
}

.nav-extended {
    background-color: #252525;
}

.app-sidenav-menu {

}

.brand-logo {
    width: auto;
    height: 100%;
}


.app-content {
    min-height: calc(100vh - 180px);
    background: #3A3C40;
    padding: 10px;
}