<nav class="nav-extended">
  <div class="nav-wrapper">
    <a href="/home" >
      <img src="../../../assets/img/logo_pur.png" class="brand-logo"/>
    </a>
    <a href="#" materialize="sideNav" data-activates="mobile-menu" class="button-collapse">
      <i class="material-icons">menu</i>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="auth.isAuthenticated()">
        <a href="/explorer">Explorer</a>
      </li>
      <li (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
        <a href="#">Log In</a>
      </li>
      <li (click)="auth.logout()" *ngIf="auth.isAuthenticated()">
        <a href="#">Log Out</a>
      </li>
    </ul>
    <ul class="side-nav" id="mobile-menu">
      <li (click)="auth.login()" *ngIf="!auth.isAuthenticated()">
        <a href="#">Log In</a>
      </li>
      <li (click)="auth.logout()" *ngIf="auth.isAuthenticated()">
        <a href="#">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="section no-pad-bot">
  <router-outlet></router-outlet>
</div>