#btn-contact {
    width: 100%;
    height: 100%;
    background: url("../../../assets/img/kontakt.png") no-repeat center #252525;
    background-size: 75px;
    margin-top: 20px;
}

#btn-customer {
    height: auto;
    background-color: #414141;
}

#btn-user {
    height: auto;
    background-color: #414141;
}

#btn-photographs {
    height: auto;
    background-color: #414141;
}

#btn-bills {
    width: 100%;
    height: 100%;
    background: url("../../../assets/img/cash.png") no-repeat center #252525;
    background-size: 90px;
    margin-top: 20px;
}

#btn-events {
    width: 100%;
    height: 100%;
    background: url("../../../assets/img/party_icon.png") no-repeat center #252525;
    background-size: 150px;
}

.container {
    min-height: 100%;
    min-width: 100%;
}

.row {
    height: 100%;
}
.col-md-12 {
    height: 100%;
    width: 100%;
}

#list-history {
    height: 100%;
}

#first-row {
    margin-top: 35px;
}