<div class="container">
    <div class="row" id="first-row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 ">
                    <button id="btn-events" class="btn-large" type="submit">Events</button>
                </div>
                <div class="col-md-6">
                    <button id="btn-bills" class="btn-large" (click)="toBills()">Rechnungen</button>
                </div>
                <div class="col-md-6">
                    <button id="btn-contact" class="btn-large" type="submit">Kontakt</button>
                </div>
            </div>
        </div>
        <!--<div class="col-md-6" *ngIf="!auth.isAdmin()">
            <article id="list-history" class="panel panel-default">
                <div class="panel-body">
                    Hier steht die Historie von Statusmeldungen bezueglich der Bilder oder Rechnungen des Kunden.
                </div>
            </article>
        </div>-->
        <div class="col-md-6" *ngIf="!auth.isAdmin()">
            <div class="row">
                <div class="col-md-12">
                    <button id="btn-customer" class="btn-large" (click)="toCustomers()">Kunden</button>
                    <button id="btn-user" class="btn-large" (click)="toUsers()">Nutzer</button>
                    <button id="btn-photographs" class="btn-large" (click)="toPhotographers()">Photographen</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<p *ngIf="auth.isAdmin()">Ich bin admin</p>
<p *ngIf="!auth.isAdmin()">Ich bin kein admin</p>-->
