
<form>
  <div class="form-group">
    <label class="mr-sm-2">Anrede</label>
    <input class="form-control" name="Anrede" placeholder="FrauHerr" #anrede>
  </div>
  <div class="form-group">
    <label>Vorname:</label>
    <input class="form-control" name="Vorname" placeholder="Vorname" #vorname>
  </div>
  <div class="form-group">
    <label>Nachname:</label>
    <input class="form-control" name="Nachname" placeholder="Nachname" #nachname>
  </div>
  <div class="form-group">
    <label>Strasse:</label>
    <input class="form-control" name="Strasse" placeholder="exampleroad" #strasse>
  </div>
  <div class="form-group">
    <label>Hausnummer</label>
    <input class="form-control" name="Hausnr" placeholder="12a" #hausnr>
  </div>
  <div class="form-group">
    <label>PLZ:</label>
    <input class="form-control" name="PLZ" placeholder="55435" #plz>
  </div>
  <div class="form-group">
    <label>Stadt:</label>
    <input class="form-control" name="Stadt" placeholder="exampletown" #stadt>
  </div>
  <div class="form-group">
    <label>Land:</label>
    <input class="form-control" name="Land" placeholder="examplecountry" #land>
  </div>
  <div class="form-group">
    <label>Email:</label>
    <input class="form-control" name="Email" placeholder="example@firma.com" #email>
  </div>
  <div class="form-group">
    <label>Passwort:</label>
    <label>{{passwd}}</label>
    <input type="button" value="Zufälliges Passwort" class="btn" (click)="onGeneratePassword()">
  </div>
  <div class="form-group">
    <label>Telefonnummer:</label>
    <input class="form-control" name="Telefonnr" placeholder="07384-6489" #telefonnr>
  </div>
  <div class="form-group">
    <label>Handynummer:</label>
    <input class="form-control" name="Handynr" placeholder="0133-64499726" #handynr>
  </div>
  <div class="form-group">
    <label>Fax:</label>
    <input class="form-control" name="Fax" placeholder="020-393-323-02" #fax>
  </div>


  <div class="form-group">
    <input type="button" [disabled]="!vorname" value="Speichern" class="btn" (click)="onAddNewPhotographer(anrede.value, vorname.value, nachname.value, strasse.value, hausnr.value,
        plz.value, stadt.value, land.value, email.value, telefonnr.value, handynr.value, fax.value)">
  </div>
</form>
