<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a href="/addCustomer" >Kunde hinzufügen</a>
    </div>
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th>Firmenname</th>
    <th>Email</th>
    <th>Telefonnummer</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let cos of customers">
    <td>{{ cos.firmenname }}</td>
    <td>{{ cos.email }}</td>
    <td>{{ cos.telefonnr }}</td>
    <td><a [routerLink]="['/editCustomer', cos._id]"><input type="button" value="Edit" class="btn"></a>
        <a (click)="onDeleteCustomer(cos)"><input type="button" value="Delete" class="btn"></a>
    </td>
  </tr>
  </tbody>
</table>