<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a href="/addPhotographer" >Fotograf hinzufügen</a>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <article class="panel panel-default" *ngFor="let photograph of photographers">
        <div class="panel-body">
          {{ photograph.toString() }}
        </div>
      </article>
    </div>
  </div>
</div>